# Python
__pycache__/
*.pyc
.env

# Node
node_modules/
.next/
.env.local

# DB
*.db

# Terraform
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.backup
*.tfstate.*

# .tfstate files
*.tfvars
*.tfvars.*

crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# lambda
infra/builds
.vercel
